#mainPage {
  background: url(rpgDice.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: lightskyblue;
  padding: 100px;
  border-radius: 10px;
  text-align: center;
  margin: 200px 20px;
  opacity: 0.9;
}
.jumbotron h1 {
  text-shadow: 2px 2px steelblue;
}

.nav nav-pills {
  padding: 10px 20px
}

/* Print form */

body {
  background: ghostwhite; 
}
page {
  background: white;
  display: block;
  margin: 5em 3em 10em;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="letter"] {
  height: 279mm;
  width: 216mm;
}
/*page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}*/
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}