/* Homepage */


#mainPage {
  background: url(rpgDice.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.jumbotron {
  background-color: cornflowerblue;
  padding: 100px;
  border-radius: 10px;
  text-align: center;
  margin: 200px 20px;
  
}
.jumbotron h1 {
  text-shadow: 2px 2px royalblue;
  font-family: 'Fruktur', cursive;
}
/* Dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
/* toolkit */

#right {
  padding: 50px;
  background-color: ghostwhite;
  margin-left: 2000px;
  border: 1px solid steelblue;
  border-radius: 10px;
}

/* template forms */

.card {
  padding: 2.5in 1.5in;
}

/* Print form */

body {
  background: powderblue; 
}
page {
  background: white;
  display: block;
  margin: 10px;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="letter"] {
  height: 11in;
  width: 8.5in;
}
/*page[size="letter"][layout="landscape"] { 
  height: 8.5in;
  width: 11in;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}*/
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}